<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Produto
        </h1>
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="ProdutoCtrl">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Cadastro de Produto</h3>
            </div>
            <form name="grupoForm" class="form-horizontal" ng-submit="cadastrarProdutos()">
                <div class="">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Produto nome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.produto_nome" id="nome" placeholder="Nome do Produto">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seguradora</label>
                        <div class="col-sm-10" ng-controller="SeguradoraCtrl">
                            <select class="form-control" id="seguradora_id" name="seguradora_id" ng-init="getSeguradoras()">
                                <option ng-repeat="seguradora in seguradoras" value="{{seguradora.seguradora_id}}">{{seguradora.seguradora_nome}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descrição do Produto</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="data.produto_descricao" id="" cols="30" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Produto Valor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.produto_valor" id="produto_valor" placeholder="Valor do Produto">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Numero de parcelas</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.produto_parcelas" id="produto_parcelas" placeholder="Numero de parcelas">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Produto Vigência Inicio</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.produto_vigencia_inicio" id="produto_vigencia_inicio" placeholder="Produto Vigência Inicio">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Produto Vigência Fim</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.produto_vigencia_fim" id="produto_vigencia_fim" placeholder="Produto Vigência Fim">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status do Produto</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="produto_status" id="produto_status">
                                <option value="1" selected>Ativo</option>
                                <option value="0">Inativo</option>
                            </select>
                        </div>
                    </div>

                </div>

            <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right btn-flat">Cadastrar Produto</button>
                </div>
            </form>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
