<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper" ng-controller="ProdutoCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Produto
            <!--<small>a definir</small>-->
        </h1>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Listando Produtos</h3>
            </div>
            <div class="box-body">
                <input type="text" id="input_search" ng-model="input_search" class="form-control col-md-3">
                <a href="" id="search" class="btn btn-primary btn-flat" ng-click="getProdutos()">Buscar</a>
                <table id="" class="table table-bordered">
                    <thead>
                        <th>Produto ID</th>
                        <th>Produto Nome</th>
                        <th>Seguradora Nome</th>
                        <th>Ações</th>
                    </thead>
                    <tbody ng-init="getProdutos()">
                        <tr ng-repeat="produto in produtos">
                            <td style="width: 10%">{{produto.produto_id}}</td>
                            <td>{{produto.produto_nome}}</td>
                            <td>{{produto.seguradora.seguradora_nome}}</td>
                            <td>
                                <a href="" class="btn btn-flat btn-danger">Inativar</a>
                                <a href="" class="btn btn-flat btn-info">Atualizar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<script>
    //angular.module('showcase', ['datatables']);
</script>