<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Campanha
        </h1>
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="CampanhaCtrl">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Cadastro de Campanha</h3>
            </div>
            <form class="form-horizontal" ng-submit="cadastrarCampanha()">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome da Camapanha</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.campanha_nome" id="campanha_nome" placeholder="Campanha Nome">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Produto</label>
                        <div class="col-sm-10" ng-controller="ProdutoCtrl">
                            <select class="form-control" name="produto_id" id="produto_id" ng-init="getProdutos()">
                                <option ng-repeat="produto in produtos" value="{{produto.produto_id}}">{{produto.produto_nome}} | {{ produto.seguradora.seguradora_nome }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Url da campanha</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.campanha_url" id="campanha_url" placeholder="Campanha URL">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Valor Investido</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.valor_investido" id="valor_investido" placeholder="Valor Investido">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right btn-flat">Cadastrar Campanha</button>
                </div>
            </form>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>