<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper" ng-controller="CampanhaCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Campanha
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Listas de Campanha</h3>
            </div>

            <div class="box-body">
                <input type="text" placeholder="Buscar Campanha" id="input_search" ng-model="input_search" class="form-control col-md-3">
                <a href="" id="search" class="btn btn-primary btn-flat" ng-click="getCampanhas()">Buscar</a>
                <table id="dataTables" class="table table-bordered">
                    <thead>
                    <th>Campanha ID</th>
                    <th>Campanha Nome</th>
                    <th>Campanha URL</th>
                    <th>Cadastro por: </th>
                    <th>Produto - Seguradora</th>
                    <th>Ações</th>
                    </thead>
                    <tbody ng-init="getCampanhas()">
                    <tr ng-repeat="campanha in campanhas">
                        <td style="width: 10%">{{campanha.campanha_id}}</td>
                        <td>{{campanha.campanha_nome}}</td>
                        <td>{{campanha.campanha_url}}</td>
                        <td>{{campanha.usuario.login}}</td>
                        <td>{{campanha.produto.produto_nome}} | {{campanha.produto.seguradora.seguradora_nome}}</td>
                        <td>
                            <a href="" class="btn btn-flat btn-danger">Inativar</a>
                            <a href="" class="btn btn-flat btn-info">Editar</a>
                            <a href="" class="btn btn-flat btn-primary" ng-click="getLeadsFB(campanha.campanha_nome)">Obter Leads FACEBOOK</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
