<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Grupos
            <!--<small>a definir</small>-->
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="">Examples</a></li>-->
        <!--<li class="active">Blank page</li>-->
        <!--</ol>-->
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="UsuarioCtrl">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Cadastro de usuarios</h3>

                <!--<div class="box-tools pull-right">-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">-->
                <!--<i class="fa fa-minus"></i></button>-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">-->
                <!--<i class="fa fa-times"></i></button>-->
                <!--</div>-->

            </div>
            <form class="form-horizontal" ng-submit="cadastrarUsuarios(data)">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Login</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.login" id="login" placeholder="Login">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" ng-model="data.email" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Senha</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" ng-model="data.password" id="password" placeholder="Senha">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Re-digite a senha</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" ng-model="data.password_re" id="password_re" placeholder="Re-digite a senha">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.usuario_telefone" id="telefone" placeholder="Telefone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Grupo de Usuario</label>
                        <div class="col-sm-10" ng-controller="GrupoCtrl" ng-init="getGrupos()">
                            <select id="grupo_usuario" class="form-control" multiple>
                                <option ng-repeat="grupo in grupos" value="{{grupo.grupo_id}}">{{ grupo.grupo_nome }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right btn-flat">Cadastrar usuario</button>
                </div>
            </form>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>