<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper" ng-controller="UsuarioCtrl">
    <!-- Content Header (Page header) -->
    <div class="modalAlerts"></div>
    <section class="content-header">
        <h1>
            Grupo
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Listando Usuarios</h3>
            </div>
            <div class="box-body">
                <table id="" class="table table-bordered">
                    <thead>
                    <th>Usuario ID</th>
                    <th>Login</th>
                    <th>Grupo</th>
                    <th>Ações</th>
                    </thead>
                    <tbody ng-init="getUsuarios()">
                    <tr ng-repeat="usuario in usuarios">
                        <td style="width: 10%">{{usuario.usuario_id}}</td>
                        <td>{{usuario.login}}</td>
                        <td>{{usuario.grupo_usuario.grupo.grupo_nome}}</td>
                        <td>
                            <!--<a href="" class="btn btn-flat btn-danger">Deletar</a>-->
                            <a href="" class="btn btn-flat btn-primary" id="editaGrupo" ng-click="modalEditUsuario(usuario)">Editar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>