<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Grupos
            <!--<small>a definir</small>-->
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="">Examples</a></li>-->
        <!--<li class="active">Blank page</li>-->
        <!--</ol>-->
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="GrupoCtrl">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Cadatro de grupos</h3>

                <!--<div class="box-tools pull-right">-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">-->
                <!--<i class="fa fa-minus"></i></button>-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">-->
                <!--<i class="fa fa-times"></i></button>-->
                <!--</div>-->

            </div>
            <form name="grupoForm" class="form-horizontal" ng-submit="cadastroGrupo(data)">
                <div class="">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome do grupo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.grupo_nome" id="grupo" placeholder="Grupo" style="width: 350px;">
                        </div>
                    </div>
                    <div ng-init="getRoute()">
                        <div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Rotas API </label>
                                <div class="col-sm-10">
                                    <select ng-model="data.rotas" class="form-control select2" id="rotas_api" multiple style="width: 350px;">
                                        <option ng-repeat="rota in rotas" ng-value="rota.rota_id">{{rota.descricao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--<input type="hidden" ng-model="data.rotas" value="rota_id[]">-->
                    </div>

                    <div ng-init="getRouteFrontEnd()">
                        <div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Rotas Front</label>
                                <div class="col-sm-10">
                                    <select ng-model="data.rotas_frontend" class="form-control select2" id="rotas_front" multiple style="width: 350px;">
                                        <option ng-repeat="rotaF in rotasFront" ng-value="rotaF.rota_frontend_id" value="{{rotaF.rota_frontend_id}}"> {{rotaF.rota_frontend_nome}} ({{rotaF.rota_frontend_url.split('#/')[1].split('/')[0] | uppercase}})</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--<input type="hidden" ng-model="data.rotas" value="rota_id[]">-->
                    </div>

                </div>

            <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right btn-flat">Cadastrar Grupo</button>
                </div>
            </form>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
