<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper" ng-controller="GrupoCtrl">
    <!-- Content Header (Page header) -->
    <div class="modalAlerts"></div>
    <section class="content-header">
        <h1>
            Grupo
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Listando Grupos</h3>
            </div>
            <div class="box-body">
                <table id="" class="table table-bordered">
                    <thead>
                        <th>Grupo ID</th>
                        <th>Grupo Nome</th>
                        <th>Ações</th>
                    </thead>
                    <tbody ng-init="getGrupos()">
                        <tr ng-repeat="grupo in grupos">
                            <td style="width: 10%"><input type="checkbox" value="{{grupo.grupo_id}}">{{grupo.grupo_id}}</td>
                            <td>{{grupo.grupo_nome}}</td>
                            <td>
                                <!--<a href="" class="btn btn-flat btn-danger">Deletar</a>-->
                                <a href="" class="btn btn-flat btn-primary" id="editaGrupo" ng-click="modalEditGrupo(grupo)">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>