<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>a definir</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="LeadCtrl">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Graficos</h3>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Data Inicial</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="dataI" id="dateI">
                </div>
                <label class="col-sm-2 control-label">Data Final</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="dataF" id="dateF">
                </div>
                <button type="button" class="btn btn-info btn-flat" ng-click="getGraph()">Buscar</button>
            </div>
            <div class="box-body" ng-init="init()">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                <table id="datatable" style="display: none;">
                    <thead>
                    <tr>
                        <th>Acessos Totais</th>
                        <th>Acessos Unicos</th>
                        <th>Conversão</th>
                    </tr>
                    </thead>
                </table>
                <button class="btn btn-flat btn-primary" id="btnShowLeads" ng-click="dashboardGetLeadByRange()">Mostrar Leads</button>
                <table id="listagem_leads" class="table table-bordered show_off">
                    <thead>
                    <tr>
                        <th>LeadID</th>
                        <th>Lead Nome</th>
                        <th>Lead CPF</th>
                        <th>Estado/Cidade</th>
                        <th>Fone</th>
                        <th>Data de Registro</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lead in dashboardLeads">
                            <td>{{lead.lead_id}}</td>
                            <td>{{lead.lead_nome}}</td>
                            <td>{{lead.lead_cpf}}</td>
                            <td>{{lead.lead_uf | uppercase }}-{{lead.lead_cidade | uppercase}}</td>
                            <td>{{lead.lead_fone}}</td>
                            <td>{{lead.lead_criacao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>