<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Admin</b>AB</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" ng-controller="LoginCtrl">
        <p class="login-box-msg">Faça login</p>

        <form ng-submit="login(user,pass)">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Login" ng-model="user">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="pass">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- /.social-auth-links -->
        <a href="#">I forgot my password</a><br>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
