<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper" ng-controller="GambicobCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Procob
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Procob Consultas</h3>
            </div>
            <div class="box-body">
                <input type="text" id="cpf" class="form-control" ng-model="cpf" style="width: 200px; display: inline;" placeholder="CPF">
                <button class="btn btn-success btn-flat" ng-click="getDataProcob()" style="margin-top: -4px;">Buscar</button>
                <table id="tblGCOB" class="table table-bordered show_off">
                    <thead>
                    <th>CPF</th>
                    <th>Nome completo</th>
                    <th>Parentes</th>
                    <th>Data de Nascimento</th>
                    <th>Endereços</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{cpf}}</td>
                        <td>{{procobs.nome}}</td>
                        <td>
                            <ol>
                                <li ng-repeat="parente in procobs.parentes" class="li_ol">
                                    {{parente.nome}} <b>({{parente.campo | uppercase}})</b>
                                </li>
                            </ol>
                        </td>
                        <td>{{procobs.data_nascimento}}</td>
                        <td>
                            <ol>
                                <li class="li_ol" ng-repeat="endereco in procobs.enderecos">
                                    <b>CEP:</b> {{endereco.cep}}<br>
                                    <b>UF:</b> {{endereco.uf}}<br>
                                    <b>CIDADE:</b> {{endereco.cidade}}<br>
                                    <b>Numero: </b>{{endereco.numero}}<br>
                                    <b>Endereco: </b>{{endereco.endereco}}<br>
                                </li>
                            </ol>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>