<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper" ng-controller="FinanceiroCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Financeiro
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Financeiro</h3>
            </div>
            <div class="box-body" id="dvData" style="overflow-x: scroll;">
                <input type="text" id="dateI" class="form-control" ng-model="dateI" style="width: 100px; display: inline;" placeholder="Data Inicial">
                <input type="text" id="dateF" class="form-control" ng-model="dateF" style="width: 100px; display: inline;" placeholder="Data Final">
                <select name="filtro_data" id="filtro_data" class="form-control" style="width: 100px; display: inline;" ng-model="filtro_data">
                    <option value="data_vencimento" selected>Data Vencimento</option>
                    <option value="data_inclusao">Data Geração</option>
                    <option value="data_pago">Data Pago</option>
                </select>

                <select name="financeiro_forma_pagamento" id="filtro_forma_pagamento" class="form-control" style="width: 100px; display: inline;" ng-model="financeiro_forma_pagamento">
                    <option value="todas" selected>Todas</option>
                    <option value="1" selected>Boleto Bradesco Agente Brasil</option>
                    <option value="2">Cartão de Crédito (Cielo)</option>
                </select>

                <select name="filtro" id="filtro" class="form-control" style="width: 100px; display: inline;" ng-model="filtro">
                    <option value="todos" selected>Todos</option>
                    <option value="pagos">Pagos</option>
                    <option value="npagos">Não Pagos</option>
                </select>

                <select name="filto_tipo_parcela" id="filto_tipo_parcela" class="form-control" style="width: 100px; display: inline;" ng-model="filto_tipo_parcela">
                    <option value="todas" selected>Todos</option>
                    <option value="1">Primeira Parcela</option>
                    <option value="0">Recorrência</option>
                </select>

                <button class="btn btn-primary btn-flat" ng-click="listCobrancas()" style="margin-top: -4px;">Listar Financeiro</button>
                <button id="export" class="btn btn-success btn-flat" style="margin-top: -4px;" ng-click="export(cobrancas.data.info_cob, cobrancas.data.stats_cob)">Export CSV</button>
                <table id="" class="table table-bordered">
                    <thead>
                    <th>lead_id</th>
                    <th>Responsavel Financeiro</th>
                    <th>cobranca_id (AB)</th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Valor Pago</th>
                    <th>Data Vencimento</th>
                    <th>Status</th>
                    <th>Data Geracao(CLIENT)</th>
                    <th>Data Pago</th>
                    <th>Tipo Pagamento</th>
                    <th>Forma de Pagamento</th>
                    <th>Faturamento</th>
                    <th>Vendedor</th>
                    </thead>
                    <tbody ng-init="listCobrancas()">
                    <tr ng-repeat="cobranca in cobrancas.data.info_cob">
                        <td>{{cobranca.financeiro_contratacao.lead_produto_agregado.lead.lead_id}}</td>
                        <td><a href="#/lead/operacao/agregar/{{cobranca.financeiro_contratacao.lead_produto_agregado.lead.lead_id}}">{{cobranca.financeiro_contratacao.lead_produto_agregado.lead.lead_nome}}</a></td>
                        <td>{{cobranca.financeiro_cobranca_id}}</td>
                        <td>{{cobranca.financeiro_contratacao.lead_produto_agregado.produto.produto_nome}}({{cobranca.financeiro_contratacao.lead_produto_agregado.produto.seguradora.seguradora_nome}})</td>
                        <td>R$ {{cobranca.valor}}</td>
                        <td ng-if="cobranca.valor_pago==null">R$ 0</td>
                        <td ng-if="cobranca.valor_pago!=null">{{cobranca.valor_pago}}</td>
                        <td>{{cobranca.data_vencimento}}</td>
                        <td ng-if="cobranca.foi_pago==0">Não Pago</td>
                        <td ng-if="cobranca.foi_pago==1">Pago</td>
                        <td>{{cobranca.data_inclusao}}</td>
                        <td>{{cobranca.data_pago}}</td>
                        <td ng-if="cobranca.fl_primeira_parcela==1">Primeira Cobrança</td>
                        <td ng-if="cobranca.fl_primeira_parcela==0">Recorrência</td>
                        <td ng-if="cobranca.financeiro_forma_pagamento_id==1">Boleto</td>
                        <td ng-if="cobranca.financeiro_forma_pagamento_id==2">Cartão de Credito</td>
                        <td ng-if="cobranca.gateway_current_code==null"><!--Não Faturado<br>-->
                            <button class="btn btn-primary btn-flat btn-xs" ng-click="gerarCobrancaBoletoCancelamentoAnterior(cobranca.financeiro_contratacao_id)">Cancelar Anterior e<br> Gerar Novo Boleto</button>
                            <button class="btn btn-success btn-flat btn-xs" ng-click="gerarCobrancaBoleto(cobranca.financeiro_contratacao_id)">Gerar Boleto</button>
                            <button class="btn btn-warning btn-flat btn-xs" ng-click="gerarCobrancaCredito(cobranca.financeiro_contratacao_id)">Cobrar via Cartão de Credito</button>
                            <button class="btn btn-danger btn-flat btn-xs" ng-click="abonarCobranca(cobranca.financeiro_contratacao_id)">Abonar Fatura</button>
                        </td>
                        <td ng-if="cobranca.gateway_current_code!=null">Faturado <span class="btn-warning">[{{cobranca.gateway_slug}}]</span></td>
                        <td>{{cobranca.usuario.nome}}</td>
                    </tr>
                    </tbody>
                </table>

                Valor Pago Via Boleto: <b>R$ {{cobrancas.data.stats_cob.valor_boleto}}</b><br>
                Total de Pagos Via Boleto: <b>{{cobrancas.data.stats_cob.qtd_boleto}}</b><br>
                Valor Pago Via Cartão de Crédito: <b>R$ {{cobrancas.data.stats_cob.valor_cartao}}</b><br>
                Total de Pagos Via Cartão de Crédito: <b>{{cobrancas.data.stats_cob.qtd_cartao}}</b><br>
                <br><br>
                Total de Geral Pagos: <b>{{cobrancas.data.stats_cob.total_pagos}}</b><br>
                Valor Arrecadado: <b>R$ {{cobrancas.data.stats_cob.total_arrecadado}}</b><br>
                Valor à Total Geral: <b>R$ {{cobrancas.data.stats_cob.total_geral}}</b><br>
            </div>

            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>