<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Seguradora
        </h1>
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="SeguradoraCtrl">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Cadastro de Seguradora</h3>
            </div>
            <form class="form-horizontal" ng-submit="cadastrarSeguradora()">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome da Seguradora</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="data.seguradora_nome" id="seguradora_nome" placeholder="Seguradora Nome">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right btn-flat">Cadastrar Seguradora</button>
                </div>
            </form>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>