<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper" ng-controller="SeguradoraCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Seguradora
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Listas de Seguradora</h3>
            </div>
            <div class="box-body">
                <table id="" class="table table-bordered">
                    <thead>
                    <th>Seguradora ID</th>
                    <th>Seguradora Nome</th>
                    <th>Ações</th>
                    </thead>
                    <tbody ng-init="getSeguradoras()">
                    <tr ng-repeat="seguradora in seguradoras">
                        <td style="width: 10%"><input type="checkbox" value="{{seguradora.seguradora_id }}">{{seguradora.seguradora_id}}</td>
                        <td>{{seguradora.seguradora_nome}}</td>
                        <td>
                            <a href="" class="btn btn-flat btn-danger">Inativar</a>
                            <a href="" class="btn btn-flat btn-info">Editar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
