<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Buscar de Leads
            <!--<small>a definir</small>-->
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>-->
        <!--<li><a href="">Examples</a></li>-->
        <!--<li class="active">Blank page</li>-->
        <!--</ol>-->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>

                <!--<div class="box-tools pull-right">-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">-->
                <!--<i class="fa fa-minus"></i></button>-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">-->
                <!--<i class="fa fa-times"></i></button>-->
                <!--</div>-->
            </div>
            <div class="box-body">
                CONTENT
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>