<div ng-include="'views/components/menu.html'"></div>

<div class="content-wrapper" ng-controller="LeadCtrl">
    <div class="modalAlerts"></div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Leads
        </h1>
    </section>
    <!-- Main content -->
    <section class="content" ng-init="operacaoAgregarLead()">
        <!-- Default box -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <!--{{leads}}-->
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> StartAB. <a ng-click="back()">Voltar</a>
                        <small class="pull-right">Data de Cadastro: {{leads[0].lead_criacao}}</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <address>
                        <b>{{leads[0].lead_nome | uppercase }}</b><br>
                        <b>Campanha:</b> {{leads[0].campanha.campanha_nome}}<br>
                        <b>Data Nascimento:</b> {{leads[0].lead_nascimento}}<br>
                        <b>Logradouro:</b> {{leads[0].lead_logradouro}}<br>
                        <b>Bairro:</b> {{leads[0].lead_bairro}}<br>
                        <b>Estado:</b> {{leads[0].lead_uf}}<br>
                        <b>Cidade:</b> {{leads[0].lead_cidade}}<br>
                        <b>Fone:</b> {{leads[0].lead_fone}}<br>
                        <b>Email:</b> {{leads[0].lead_email}}<br>
                        <b>Lead Cobrado:</b> {{leads[0].lead_cobrado}}<br>
                        <b>CPF:</b> {{leads[0].lead_cpf}}<br>
                        <b>Lead ID:</b> {{leads[0].lead_id}}<br>
                        <a href="" class="btn btn-flat btn-info" ng-click="leadEdit(leads[0])" debounce="100">Editar</a>
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <!--To-->
                    <!--<address>-->
                        <!--<strong>John Doe</strong><br>-->
                        <!--795 Folsom Ave, Suite 600<br>-->
                        <!--San Francisco, CA 94107<br>-->
                        <!--Phone: (555) 539-1037<br>-->
                        <!--Email: john.doe@example.com-->
                    <!--</address>-->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <!--<b>Invoice #007612</b><br>-->
                    <!--<br>-->
                    <!--<b>Order ID:</b> 4F3S8J<br>-->
                    <!--<b>Payment Due:</b> 2/22/2014<br>-->
                    <!--<b>Account:</b> 968-34567-->
                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
            <!--{{leads[0]}}-->
            <a href="" class="btn btn-warning btn-flat" ng-click="modalAddBeneficiario(leads[0])">Adicionar Beneficiario/Titular</a>
            <a href="" class="btn btn-info btn-flat" ng-click="novaContratacao(leads[0])">Nova Contratação</a>
            <!--<a href="" class="btn btn-danger btn-flat" ng-click="requestBoletoAvulso(leads[0])">Gerar Cobranca Avulsa</a>-->
            <!-- Table row -->
            <div class="row" style="font-size:10pt;">
                <div class="col-xs-12 table-responsive" ng-init="getContratacoes()" >
                    <h3>Contratações</h3>
                    <div style="overflow-y: scroll;">
                    <table class="table table-striped" ng-repeat="contratacao in contratacoes" >

                        <thead>
                        <tr>
                            <th width="1%">Contratacao ID</th>
                            <th>Produto</th>
                            <th width="1%">Vendedor</th>
                            <th>Data Contratacao</th>
                            <th width="1%">Valor total do Contrato</th>
                            <th>Valor Mensal</th>
                            <th>Forma de Pagamento</th>
                            <th style="width:20%;">Ações</th>
                            <th width="1%">Status com a MetLife</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{contratacao.financeiro_contratacao[0].financeiro_contratacao_id}}</td>
                            <td>{{contratacao.produto.produto_nome}}</td>
                            <td>{{contratacao.usuario.login.split('@')[0] }}</td>
                            <td>{{contratacao.financeiro_contratacao[0].data_contratacao}}</td>
                            <td>{{contratacao.financeiro_contratacao[0].valor_total}}</td>
                            <td>{{contratacao.financeiro_contratacao[0].valor_mensal}}</td>
                            <td ng-if="contratacao.financeiro_contratacao[0].financeiro_forma_pagamento_id==1">BOLETO</td>
                            <td ng-if="contratacao.financeiro_contratacao[0].financeiro_forma_pagamento_id==2">Cartão</td>
                            <td>
                                <span class="btn btn-danger btn-xs btn-flat" ng-if="contratacao.financeiro_contratacao[0].data_cancelamento!=null">PLANO CANCELADO</span>
                                <a href="" ng-click="viewContratacao(contratacao)" class="btn btn-info btn-xs btn-flat">Visualizar Plano</a>
                                <a href="" ng-if="contratacao.financeiro_contratacao[0].data_cancelamento==null" ng-click="desativaPlano(contratacao.financeiro_contratacao[0])" class="btn btn-danger btn-xs btn-flat">CANCELAR PLANO</a>
                                <a href="" ng-if="contratacao.financeiro_contratacao[0].data_cancelamento==null" ng-click="updateContract(contratacao.financeiro_contratacao[0],1)" class="btn btn-primary btn-xs btn-flat">Alterar forma para Boleto</a>
                                <a href="" ng-if="contratacao.financeiro_contratacao[0].data_cancelamento==null" ng-click="updateContract(contratacao.financeiro_contratacao[0],2)" class="btn btn-info btn-xs btn-flat">Alterar forma para Cartão</a>
                                <a href="" ng-if="contratacao.financeiro_contratacao[0].data_cancelamento==null" ng-click="verificarIntegracoes(contratacao.financeiro_contratacao[0])" class="btn btn-warning btn-xs btn-flat">Tentativas de Integrações</a>
                            </td>
                            <td ng-init="getStatusPedidoMetlife(contratacao.financeiro_contratacao[0])" id="rCM">Aguardando processamento...</td>
                        </tr>
                        </tbody>

                        <thead>
                        <tr>
                            <th>Cobranca ID (AB)</th>
                            <th>Data Inclusão</th>
                            <th>Data Vencimento</th>
                            <th>Valor</th>
                            <th>Gateway</th>
                            <th>Status</th>
                            <th>Data de Pagamento</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cobranca in contratacao.financeiro_contratacao[0].financeiro_cobranca">
                            <td>{{cobranca.financeiro_cobranca_id}}
                                <a href="" id="verCob" ng-if="cobranca.gateway_slug=='Boleto|AgenteBrasil'" ng-click="verCob(cobranca.financeiro_cobranca_id)" class="btn btn-default btn-xs btn-flat">Ver boleto</a>
                                <a href="" ng-if="cobranca.gateway_slug=='Boleto|AgenteBrasil'"  class="btn btn-danger btn-xs btn-flat" ng-click="atualizaBoleto(cobranca.financeiro_cobranca_id,leads[0].lead_id)">Atualizar Boleto</a>
                                <a href="" class="btn btn-info btn-xs btn-flat" ng-if="cobranca.gateway_slug=='Boleto|AgenteBrasil'" ng-click="enviarBoletoSMS(cobranca.financeiro_cobranca_id,leads[0])">Enviar EMAIL e SMS</a>
                                <a ng-if="cobranca.foi_pago==0&&contratacao.financeiro_contratacao[0].data_cancelamento==null&&cobranca.gateway_slug=='Boleto|AgenteBrasil'" href="" class="btn btn-primary btn-xs btn-flat" ng-click="enviarAutoPilot(cobranca.financeiro_cobranca_id,contratacao.financeiro_contratacao[0].financeiro_contratacao_id)">Enviar AUTOPILOT</a>
                                <a href="" ng-if="cobranca.gateway_slug=='CardCredit|Cielo'" class="btn btn-danger btn-xs btn-flat" ng-click="atualizaCartao(cobranca.financeiro_cobranca_id,leads[0].lead_id)">Atualizar Data Cartão</a>
                                <!--<a ng-if="cobranca.foi_pago==0&&contratacao.financeiro_contratacao[0].data_cancelamento==null" href="" class="btn btn-warning btn-xs btn-flat" ng-click="enviarParaCobranca(cobranca,contratacao.financeiro_contratacao[0].financeiro_contratacao_id)">Enviar COBRANÇA METLIFE</a>-->
                            </td>

                            <!--<td ng-if="cobranca.gateway_slug=='CardCredit|Cielo'">{{cobranca.financeiro_cobranca_id}}</td>-->
                            <td>{{cobranca.data_inclusao}}{{cobranca.financeiro_forma_pagamento_id}}</td>
                            <td>{{cobranca.data_vencimento}}</td>
                            <td>{{cobranca.valor}}</td>
                            <td>{{cobranca.gateway_slug}}</td>
                            <td>{{cobranca.financeiro_cobranca_status}}</td>
                            <td ng-if="cobranca.data_pago==null">NÃO PAGO</td>
                            <td ng-if="cobranca.data_pago!=null">{{cobranca.data_pago}}</td>
                            <td ng-if="cobranca.foi_pago==0&&contratacao.financeiro_contratacao[0].data_cancelamento==null">
                                <a href="" ng-click="updateCobrancaBoleto(cobranca,contratacao.financeiro_contratacao[0])" class="btn btn-primary btn-xs btn-flat">Alterar para Boleto</a>
                                <a href="" ng-click="updateCobrancaCartao(cobranca,contratacao.financeiro_contratacao[0])" class="btn btn-info btn-xs btn-flat">Alterar para Cartão</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <h3>Beneficiarios</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Lead_Agregadado_ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Titularidade</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody ng-init="getLeadAgregado()">
                        <!--{{ leadsAgregados }}-->
                        <tr ng-repeat="leadsAgregado in leadsAgregados">
                            <td>{{leadsAgregado.lead_agregado_id}}</td>
                            <td>{{leadsAgregado.lead_agregado_nome}}</td>
                            <td>{{leadsAgregado.lead_agregado_cpf}}</td>
                            <td>{{leadsAgregado.lead_agregado_tipo}}</td>
                            <td ng-if="leadsAgregado.fl_ativo==1">Ativo</td>
                            <td ng-if="leadsAgregado.fl_ativo==0">Inativo</td>
                            <td>
                                <a href="" class="btn btn-danger btn-flat" ng-click="destroyLeadAgregado(leadsAgregado)">Deletar</a>
                                <a href="" class="btn btn-info btn-flat" ng-click="modalEditBeneficiario(leadsAgregado)">Editar</a>
                                <!--<a href="" class="btn btn-success btn-flat" ng-click="visualizarLeadAgregado(leadsAgregado)">Visualizar</a>-->
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <div ng-init="getTimeLifeLead()">
                        <h3>Historico de Lead</h3>
                        <div style="overflow-y: scroll; height: 200px;">
                        <table class="table table-striped" >
                            <thead>
                            <tr>
                                <th>Tipo de Alteração</th>
                                <th>Alteração</th>
                                <th>Data Operacao</th>
                                <th>Usuario</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--{{ leadsAgregados }}-->
                            <tr ng-repeat="lifeTimeLead in lifeTimeLeads | orderBy: '-data_operacao'">
                                <td>{{lifeTimeLead.operacao_time_life_lead.lead_life_time_operacao_name}}</td>
                                <td><div ng-bind-html="lifeTimeLead.lead_life_time_retorno">{{lifeTimeLead.lead_life_time_retorno}}</div></td>
                                <td>{{lifeTimeLead.data_operacao}}</td>
                                <td>{{lifeTimeLead.usuario.login}}</td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="col-xs-6">

            </div>
            <div class="col-xs-6">
                <!--<p class="lead">Dia de pagamento: </p>-->

                <!--<div class="table-responsive">-->
                    <!--<table class="table">-->
                        <!--<tbody><tr>-->
                            <!--<th style="width:50%">Subtotal:</th>-->
                            <!--<td>R$ 0</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th>Total:</th>-->
                            <!--<td>0</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">
                    <!--<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>-->
                    <!--<button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Atualizar Informações-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">-->
                        <!--<i class="fa fa-download"></i> Generate PDF-->
                    <!--</button>-->
                </div>
            </div>
        </section>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>