<div ng-include="'views/components/menu.html'"></div>

<div class="content-wrapper" ng-controller="LeadCtrl">
    <div class="modalAlerts"></div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Leads
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Operações Leads</h3><small><a href="" id="leadNew" class="btn btn-success btn-flat" style="position: relative; left: 12px;" ng-click="leadNew()">Novo Lead</a></small>
            </div>

            <div class="box-body">
                <input type="text" id="searchBar" placeholder="Buscar por lead_nome ou lead_cpf ou lead_fone ou lead_email" id="input_search" ng-model="input_search" class="form-control col-md-3">
                <a href="" id="search" class="btn btn-primary btn-flat" ng-click="getLeads()">Buscar</a>
                <table id="dataTables" class="table table-bordered">
                    <thead>
                    <th>LeadID</th>
                    <th>Lead Nome</th>
                    <th>Lead Cpf</th>
                    <th>Campanha</th>
                    <th>Ações</th>
                    </thead>
                    <tbody ng-init="getLeads()">
                    <tr ng-repeat="lead in leads">
                        <td style="width: 10%">{{lead.lead_id}}</td>
                        <td><a href="#/lead/operacao/agregar/{{lead.lead_id}}">{{lead.lead_nome}}</a></td>
                        <td>{{lead.lead_cpf}}</td>
                        <td>{{lead.campanha.campanha_nome}}</td>
                        <td>
                            <a href="" class="btn btn-flat btn-danger">Inativar</a>
                            <a href="" class="btn btn-flat btn-info" ng-click="leadEdit(lead)" debounce="100">Editar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>

