<header class="main-header" ng-controller="MainCtrl">
    <div ng-init="init()"></div>

    <a href="#/dashboard" class="logo">
        <span class="logo-mini"><b>S</b>AB</span>
        <span class="logo-lg">Start<b>AB</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="https://client.agentebrasil.com/abstart/public/AdminLTE/dist/img/user_.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ infoUser.login | uppercase }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="https://client.agentebrasil.com/abstart/public/AdminLTE/dist/img/user_.jpg" class="img-circle" alt="User Image">
                            <p>
                                {{ infoUser.login | uppercase }} - {{ infoUser.grupo.grupo.name | uppercase }}
                            </p>
                        </li>
                        <li class="user-body">
                            <!--<div class="row">-->
                                <!--<div class="col-xs-4 text-center">-->
                                    <!--<a href="">Followers</a>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4 text-center">-->
                                    <!--<a href="">Sales</a>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4 text-center">-->
                                    <!--<a href="">Friends</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        </li>
                        <li class="user-footer">
                            <div class="pull-right" ng-controller="LoginCtrl">
                                <a href="" class="btn btn-default btn-flat" ng-click="logout()">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<aside class="main-sidebar" ng-controller="MainCtrl">
    <div ng-init="init()"></div>
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://client.agentebrasil.com/abstart/public/AdminLTE/dist/img/user_.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{infoUser.login | uppercase}}</p>
                <a href=""><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu">

        </ul>
    </section>
</aside>

<!--<li class="header">MAIN NAVIGATION</li>-->
<!--<li class="treeview">-->
    <!--<a href="">-->
        <!--<i class="fa fa-info-circle"></i> <span>Seguradora</span>-->
        <!--<span class="pull-right-container">-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
    <!--</a>-->
    <!--<ul class="treeview-menu">-->
        <!--<li><a href="#/seguradora/cadastro"><i class="fa fa-circle-o"></i>Cadastro Seguradora</a></li>-->
        <!--<li><a href="#/seguradora/listar"><i class="fa fa-circle-o"></i>Listar Seguradora</a></li>-->
    <!--</ul>-->
<!--</li>-->
<!--<li class="treeview">-->
    <!--<a href="">-->
        <!--<i class="fa fa-cart-plus"></i> <span>Produto</span>-->
        <!--<span class="pull-right-container">-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
    <!--</a>-->
    <!--<ul class="treeview-menu">-->
        <!--<li><a href="#/produto/cadastro"><i class="fa fa-circle-o"></i>Cadastro Produto</a></li>-->
        <!--<li><a href="#/produto/listar"><i class="fa fa-circle-o"></i>Listar Produto</a></li>-->
        <!--<li><a href="#/campanha/cadastro"><i class="fa fa-circle-o"></i>Cadastro Campanha</a></li>-->
        <!--<li><a href="#/campanha/listar"><i class="fa fa-circle-o"></i>Listar Campanha</a></li>-->
    <!--</ul>-->
<!--</li>-->
<!--<li class="treeview">-->
    <!--<a href="">-->
        <!--<i class="fa fa-user-plus"></i> <span>Lead</span>-->
        <!--<span class="pull-right-container">-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</span>-->
    <!--</a>-->
    <!--<ul class="treeview-menu">-->
        <!--<li><a href="#/lead/cadastro"><i class="fa fa-circle-o"></i> Cadastrar Lead</a></li>-->
        <!--<li><a href="#/lead/operacoes"><i class="fa fa-circle-o"></i> Operações Lead</a></li>-->
    <!--</ul>-->
<!--</li>-->
<!--<li class="treeview">-->
    <!--<a href="">-->
        <!--<i class="fa fa-user"></i> <span>Usuario</span>-->
        <!--<span class="pull-right-container">-->
            <!--<i class="fa fa-angle-left pull-right"></i>-->
        <!--</span>-->
    <!--</a>-->
    <!--<ul class="treeview-menu">-->
        <!--<li><a href="#/usuario/cadastrar"><i class="fa fa-circle-o"></i>Cadastrar Usuario</a></li>-->
        <!--<li><a href=""><i class="fa fa-circle-o"></i>Listar Usuarios</a></li>-->
        <!--<li><a href="#/grupo/cadastrar"><i class="fa fa-circle-o"></i>Grupo de Usuarios</a></li>-->
        <!--<li><a href="#/grupo/listar"><i class="fa fa-circle-o"></i>Listar Grupo de Usuarios</a></li>-->

    <!--</ul>-->
<!--</li>-->