<div ng-include="'views/components/menu.html'"></div>
<div class="content-wrapper" ng-controller="RedeCredenciadaCtrl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Rede Credenciada
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Consultas Rede Credenciada</h3>
            </div>
            <div class="box-body">
                <input type="text" style="width: 100px;" placeholder="Estado" id="estado" ng-model="uf" class="form-control col-md-3">
                <input type="text" style="width: 100px;" placeholder="Cidade" id="cidade" ng-model="cidade" class="form-control col-md-3">
                <select style="width: 130px;" ng-model="seguradora_id" name="seguradora" id="seguradora" ng-init="getSeguradoras()"  class="form-control">
                    <option ng-repeat="seguradora in seguradoras" value="{{seguradora.seguradora_id}}" selected>{{seguradora.seguradora_nome}}</option>
                </select>
                <a id="search" class="btn btn-primary btn-flat" ng-click="getRedeCredenciada()" style="position:relative;top:-34px;right:-330px;">Buscar</a>
                <table id="" class="table table-bordered">
                    <thead>
                    <th>Seguradora</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>Status</th>
                    <th>Data Importação</th>
                    <th>Arquivo de Importacao</th>
                    </thead>
                    <tbody ng-init="getRedeCredenciada()">
                    <tr ng-repeat="redeCredenciada in redeCredenciadas">
                        <td>{{redeCredenciada.seguradora.seguradora_nome}}</td>
                        <td>{{redeCredenciada.uf}}</td>
                        <td>{{redeCredenciada.cidade}}</td>
                        <td ng-if="redeCredenciada.fl_ativo==0">INATIVO</td>
                        <td ng-if="redeCredenciada.fl_ativo==1">ATIVO</td>
                        <td>{{redeCredenciada.data_importacao}}</td>
                        <td>{{redeCredenciada.codeimport}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>